* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2e2e2e;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 40px;
}

form {
    text-align: center;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #c97ac5;
    transform: scale(1.05);
}